.container {
  width: 100%;
}

.brand_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title_box {
  color: #000;
  font-size: 30px;
  font-family: KalamehB;
  margin: 40px 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 580px) {
  .title_box {
    margin: 40px 0 20px 0;
  }
}
