.container {
    padding: 50px;
    width: calc(100% - 100px);
    font-size: 14px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.header .right_content {
    width: calc(50% - 10px);
    height: 400px;
}

.big_article_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.big_article_wrapper .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: KalamehM;
    font-size: 16px;
    width: calc(100% - 40px);
    padding: 0 20px;
}

.big_article_wrapper .show_btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    font-size: 14px;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.big_article_wrapper:hover .show_btn {
    background: none;
    color: #fff;
}

.big_article {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.big_article_wrapper:hover .big_article {
    filter: brightness(0.3);
}

.search_wrapper {
    width: calc(100% - 60px);
    background-color: #fff;
    margin-top: 30px;
    padding: 30px;
    border-radius: 5px;
}

.search_box {
    width: calc(50% - 10px);
    position: relative;
}

.search_box input {
    width: calc(100% - 52px);
    outline: 0;
    border: none;
    background-color: #e8eef2;
    font-family: Kalameh;
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    border: 1px solid #e8eef2;
    box-shadow: 0 10px 30px #0000000d;
}
.search_box input:focus {
    border-color: #12a386;
}

.search_box div {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.header .left_section {
    width: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
}

.article_image_box {
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    position: relative;
}
.article_image_box:nth-child(1) {
    margin-bottom: 20px;
}

.article_image_box .title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: calc(100% - 40px);
    padding: 0 20px;
    text-align: center;
}

.mini_article {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(0.5);
    transition: 0.2s;
    cursor: pointer;
}
.article_image_box:hover .mini_article {
    filter: brightness(0.3);
}

.articles_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 0 0;
    width: 100%;
}

.article_box {
    display: flex;
    flex-direction: column;
    width: calc(100% / 6 - 70px);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 30px 0 0 30px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    color: #000;
}
.article_box:hover {
    background-color: #e8eef2;
}

.article_cover {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.article_title {
    font-size: 14px;
    font-family: KalamehM;
    margin: 20px 0;
}

.article_asset {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #777;
}

.article_asset span {
    margin: 2px 0 0 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    direction: ltr;
    margin-top: 50px;
    font-size: 16px;
    user-select: none;
}

.perv_btn,
.next_btn {
    background-color: #12a386;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #12a386;
    font-size: 14px;
}
.perv_btn:hover,
.next_btn:hover {
    background-color: #fff;
    color: #12a386;
}

.perv_btn {
    margin-right: 10px;
}
.perv_btn span {
    font-size: 12px;
    margin: 5px 10px 0 0;
}

.next_btn {
    margin-left: 10px;
}
.next_btn span {
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.page_btn {
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 3px;
    border: 1px solid #e8eef2;
}
.page_btn.show {
    border-color: #12a386;
    color: #fff;
    background-color: #12a386;
}
.page_btn:hover {
    border-color: #12a386;
    color: #12a386;
}
.page_btn.show:hover {
    color: #fff;
}

@media (max-width: 1500px) {
    .article_box {
        width: calc(100% / 4 - 70px);
    }
}

@media (max-width: 1200px) {
    .article_box {
        width: calc(100% / 3 - 70px);
    }

    .header .right_content,
    .header .left_section {
        height: 300px;
    }

    .big_article_wrapper .title,
    .article_image_box .title {
        font-size: 14px;
    }
}

@media (max-width: 950px) {
    .container {
        padding: 20px;
        width: calc(100% - 40px);
        margin-top: 83px;
    }

    .articles_list {
        justify-content: space-between;
        margin: 0;
    }

    .search_wrapper {
        margin-top: 20px;
    }

    .article_box {
        margin: 20px 0 0 0;
        width: calc(100% / 2 - 50px);
    }

    .search_box {
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    .header .right_content {
        margin-bottom: 20px;
    }

    .header .right_content,
    .header .left_section {
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 580px) {
    .header .right_content {
        height: 100px;
    }

    .show_btn {
        display: none;
    }

    .header .left_section {
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }

    .article_image_box {
        margin: 0;
        width: 100%;
        padding: 0;
        height: 100px;
        margin-bottom: 20px;
    }
    .article_image_box:nth-child(1) {
        margin: 0;
    }
    .article_image_box:nth-child(2) {
        display: none;
    }
    .article_image_box:nth-child(3) {
        display: none;
    }
    .article_image_box:nth-child(4) {
        display: none;
    }

    .article_box {
        margin: 20px 0 0 0;
        width: calc(100% - 40px);
    }
}
