.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    user-select: none;
    font-size: 14px;
}

.admin_menu {
    height: calc(100% - 60px);
    width: calc(25% - 60px);
    background-color: #fff;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 0;
}

.main_title {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: KalamehB;
    color: #12a386;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.main_title span {
    font-size: 14px;
    color: #777;
    font-family: KalamehM;
    margin-top: 5px;
}

.menu_items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.menu_item {
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}
.menu_item:hover {
    background-color: #12a38611;
}
.menu_item.show {
    background-color: #12a386;
    color: #fff;
}

.menu_item span {
    margin: 2px 0 0 10px;
}

.back_to_home_btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: calc(100% - 60px);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
    border: 1px solid #12a386;
    color: #12a386;
    text-decoration: none;
}
.back_to_home_btn:hover {
    background-color: #12a386;
    color: #fff;
}

.back_to_home_btn span {
    margin: 4px 0 0 10px;
}

.admin_content {
    padding: 30px;
    width: calc(75% - 60px);
    height: calc(100% - 60px);
    overflow-y: auto;
    background-color: #e8eef2;
}
.admin_content::-webkit-scrollbar {
    width: 0;
}
.admin_content::-webkit-scrollbar-track {
    background: none;
}
.admin_content::-webkit-scrollbar-thumb {
    background: none;
}
.admin_content::-webkit-scrollbar-thumb:hover {
    background: none;
}

@media (max-width: 1300px) {
    .admin_menu {
        height: 100px;
        width: calc(100% - 40px);
        padding: 10px 20px 0 20px;
        top: calc(100% - 110px);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #12a386;
        color: #fff;
    }

    .main_title {
        font-size: 20px;
        width: fit-content;
        height: fit-content;
        color: #fff;
    }
    .main_title span {
        color: #fff;
    }

    .menu_items {
        flex-direction: row-reverse;
        width: fit-content;
        margin-top: 0;
        height: fit-content;
    }

    .menu_item {
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .menu_item.show {
        background-color: #fff;
        color: #12a386;
    }
    .menu_item div {
        display: none;
    }
    .menu_item span {
        margin: 0;
    }

    .back_to_home_btn {
        width: 60px;
        position: relative;
        bottom: 0;
        right: 0;
        padding: 0;
        height: 60px;
        font-size: 16px;
        color: #fff;
        border-color: #fff;
    }
    .back_to_home_btn:hover {
        background-color: #fff;
        color: #12a386;
    }
    .back_to_home_btn div {
        display: none;
    }
    .back_to_home_btn span {
        margin: 0;
    }

    .admin_content {
        padding: 0;
        width: 100%;
        height: 100%;
        padding-bottom: 110px;
    }
}
