.container {
    width: 1920px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    user-select: none;
    font-size: 14px;
    position: relative;
    background-color: #e8eef2;
}

.admin_menu {
    height: calc(100% - 60px);
    width: calc(25% - 60px);
    background-color: #fff;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.main_title {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: KalamehB;
    color: #12a386;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.main_title span {
    font-size: 14px;
    color: #777;
    font-family: KalamehM;
    margin-top: 5px;
}

.menu_items {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: 400px;
    margin-top: 50px;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 20px;
}
.menu_items::-webkit-scrollbar {
    width: 3px;
}
.menu_items::-webkit-scrollbar-track {
    background: #e8eef2;
}
.menu_items::-webkit-scrollbar-thumb {
    background: #12a386;
}
.menu_items::-webkit-scrollbar-thumb:hover {
    background: #12a386;
}

.menu_item {
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: #000;
}
.menu_item:hover {
    background-color: #12a38611;
}
.menu_item.show {
    background-color: #12a386;
    color: #fff;
}

.menu_item span {
    margin: 2px 0 0 10px;
}

.back_to_home_btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: calc(100% - 60px);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
    border: 1px solid #12a386;
    color: #12a386;
    text-decoration: none;
}
.back_to_home_btn:hover {
    background-color: #12a386;
    color: #fff;
}

.back_to_home_btn span {
    margin: 4px 0 0 10px;
}

.admin_content {
    padding: 30px;
    width: calc(75% - 60px);
    height: calc(100% - 60px);
    overflow-y: auto;
    background-color: #e8eef2;
}
.admin_content::-webkit-scrollbar {
    width: 0;
}
.admin_content::-webkit-scrollbar-track {
    background: none;
}
.admin_content::-webkit-scrollbar-thumb {
    background: none;
}
.admin_content::-webkit-scrollbar-thumb:hover {
    background: none;
}
