.brands {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.brands_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
}

.brands_title {
    font-family: KalamehM;
    width: calc(100% / 2 - 5%);
}
.brands_title:nth-child(1) {
    width: 10%;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
}
.brand:hover {
    background-color: #0d7c6611;
}
.brand_id {
    width: 10%;
}
.brand_name {
    width: calc(100% / 2 - 5%);
}
.brand_value {
    width: calc(100% / 2 - 5%);
}

.brand_buttons div {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.brand_delete {
    color: red;
    margin-bottom: 15px;
}

.brand_edit {
    color: #0d7c66;
}
