.loading {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
}
.loading.show {
    display: flex;
}

.loading_wrapper {
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.categories {
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}

.categories_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f3f4f6;
    padding: 20px;
}

.categories_title {
    font-family: KalamehM;
    width: calc(90% / 2);
}
.categories_title:nth-child(1) {
    width: 10%;
}
.hidden_title {
    width: 5%;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f3f4f6;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
}
.category:hover {
    background-color: #12a38611;
}
.category_id {
    width: 10%;
}
.category_name {
    width: calc(90% / 2);
}
.category_value {
    width: calc(90% / 2);
}

.category_buttons {
    width: 5%;
}

.category_buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_delete {
    color: #f93827;
}

.add_btn {
    background-color: #12a386;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #12a386;
    transition: 0.2s;
    width: fit-content;
    margin-bottom: 20px;
}
.add_btn:hover {
    background-color: #fff;
    color: #12a386;
}
.add_btn span {
    margin: 5px 0 0 5px;
}

.add_category_pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #0000004d;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add_category_pop_up.show {
    display: flex;
}

.main_title {
    font-size: 18px;
    font-family: KalamehM;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main_title span {
    background-color: #12a386;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 15px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add_category_pop_up form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}

.add_category_pop_up form .inputs {
    display: flex;
}

.add_category_pop_up form input {
    font-family: Kalameh;
    outline: 0;
    border: 1px solid #f3f4f6;
    background-color: #f3f4f6;
    padding: 10px 20px;
    border-radius: 8px;
    letter-spacing: 0.5px;
}
.add_category_pop_up form input:focus {
    border-color: #12a386;
}

.add_category_btn {
    background-color: #12a386;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #12a386;
    cursor: pointer;
    padding: 10px 0;
    margin-top: 20px;
}
.add_category_btn:hover {
    background: none;
    color: #12a386;
}
