.comments {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.comments_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
}

.comments_title {
    font-family: KalamehM;
}
.comments_title:nth-child(1) {
    width: 10%;
}
.comments_title:nth-child(2) {
    width: 10%;
}
.comments_title:nth-child(3) {
    width: 10%;
}
.comments_title:nth-child(4) {
    width: 10%;
}
.comments_title:nth-child(5) {
    width: 10%;
}
.comments_title:nth-child(6) {
    width: 10%;
}
.hidden_box {
    width: 5%;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
}
.comment:hover {
    background-color: #0d7c6611;
}
.comment_id {
    width: 10%;
}
.comment_user {
    width: 10%;
}
.comment_name {
    width: 10%;
}
.comment_stars {
    width: 10%;
    display: flex;
    justify-content: center;
    color: #ffb200;
}
.comment_date {
    width: 10%;
}
.comment_status {
    width: 10%;
}
.comment_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
}

.comment_buttons div {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.comment_delete {
    color: red;
}

.comment_edit {
    color: #0d7c66;
    margin: 10px 0;
}

.comment_reply {
    color: #37AFE1;
}

.top_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e8eef2;
    border-left: 1px solid #e8eef2;
    border-right: 1px solid #e8eef2;
    position: sticky;
    top: -30px;
    margin-bottom: 30px;
    margin: 0 auto 20px 0;
    box-shadow: 0 0 30px #00000017;
}

.inventory_button {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #777;
}
.inventory_button:nth-child(2) {
    margin: 0 50px;
}

.inventory_button div {
    width: 37px;
    height: 18px;
    background-color: #e8eef2;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.inventory_button div span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: #0d7c66;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    direction: ltr;
    margin-top: 50px;
    font-size: 16px;
}

.perv_btn,
.next_btn {
    background-color: #0d7c66;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #0d7c66;
    font-size: 14px;
}
.perv_btn:hover,
.next_btn:hover {
    background-color: #fff;
    color: #0d7c66;
}

.perv_btn {
    margin-right: 10px;
}
.perv_btn span {
    font-size: 12px;
    margin: 5px 10px 0 0;
}

.next_btn {
    margin-left: 10px;
}
.next_btn span {
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.page_btn {
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 3px;
    border: 1px solid #e8eef2;
}
.page_btn.show {
    border-color: #0d7c66;
    color: #fff;
    background-color: #0d7c66;
}
.page_btn:hover {
    border-color: #0d7c66;
    color: #0d7c66;
}
.page_btn.show:hover {
    color: #fff;
}
