.offers {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.offers_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
}

.offers_title {
    font-family: KalamehM;
    width: 20%;
}
.hidden_title {
    width: 5%;
}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
}
.offer:hover {
    background-color: #0d7c6611;
}
.offer_id {
    width: 20%;
}
.offer_date {
    width: 20%;
}
.offer_code {
    width: 20%;
}
.offer_value {
    width: 20%;
}

.offer_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
}

.offer_buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_delete {
    color: red;
    margin-bottom: 15px;
}

.offer_edit {
    color: #0d7c66;
}

.top_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e8eef2;
    border-left: 1px solid #e8eef2;
    border-right: 1px solid #e8eef2;
    position: sticky;
    top: -30px;
    margin-bottom: 30px;
    margin: 0 0 20px 0;
    box-shadow: 0 0 30px #00000017;
}

.add_btn {
    background-color: #0d7c66;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #0d7c66;
    transition: 0.2s;
}
.add_btn:hover {
    background-color: #fff;
    color: #0d7c66;
}
.add_btn span {
    margin: 5px 0 0 5px;
}
