.orders {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.orders_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
}

.orders_title {
    font-family: KalamehM;
    width: calc(100% / 6);
}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
}
.order:hover {
    background-color: #0d7c6611;
}
.order_id {
    width: calc(100% / 6);
}
.phone_number {
    width: calc(100% / 6);
}
.order_value {
    width: calc(100% / 6);
}
.order_price {
    width: calc(100% / 6);
}
.order_date {
    width: calc(100% / 6);
}
.order_active {
    width: calc(100% / 6);
}

.search_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e8eef2;
    position: sticky;
    top: -30px;
    margin-bottom: 30px;
}

.products_search {
    width: 500px;
    position: relative;
}

.products_search input {
    padding: 12px 20px 12px 50px;
    width: calc(100% - 70px);
    font-family: Kalameh;
    outline: 0;
    border: 1px solid #e8eef2;
    background-color: #e8eef2;
    border-radius: 8px;
}
.products_search input:focus {
    border-color: #ccc;
}

.products_search span {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #777;
    font-size: 14px;
    cursor: pointer;
}
.products_search span:hover {
    color: #0d7c66;
}

.inventory_button {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #777;
}

.inventory_button div {
    width: 37px;
    height: 18px;
    background-color: #e8eef2;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.inventory_button div span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: #0d7c66;
}

.search_buttons {
    display: flex;
}
.inventory_button:nth-child(2) {
    margin-right: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    direction: ltr;
    margin-top: 50px;
    font-size: 16px;
}

.perv_btn,
.next_btn {
    background-color: #0d7c66;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #0d7c66;
    font-size: 14px;
}
.perv_btn:hover,
.next_btn:hover {
    background-color: #fff;
    color: #0d7c66;
}

.perv_btn {
    margin-right: 10px;
}
.perv_btn span {
    font-size: 12px;
    margin: 5px 10px 0 0;
}

.next_btn {
    margin-left: 10px;
}
.next_btn span {
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.page_btn {
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 3px;
    border: 1px solid #e8eef2;
}
.page_btn.show {
    border-color: #0d7c66;
    color: #fff;
    background-color: #0d7c66;
}
.page_btn:hover {
    border-color: #0d7c66;
    color: #0d7c66;
}
.page_btn.show:hover {
    color: #fff;
}
