.loading {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
}
.loading.show {
    display: flex;
}

.loading_wrapper {
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.products {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.products_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
}

.products_title {
    font-family: KalamehM;
}
.products_title:nth-child(1) {
    width: 10%;
}
.products_title:nth-child(2) {
    width: 100px;
}
.products_title:nth-child(3) {
    width: calc(50% - 100px);
}
.products_title:nth-child(4) {
    width: 10%;
}
.products_title:nth-child(5) {
    width: 10%;
}
.products_title:nth-child(6) {
    width: 10%;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.product:hover {
    background-color: #12a38611;
}
.product_id {
    width: 10%;
}
.product_image {
    width: 100px;
    height: fit-content;
    object-fit: contain;
}
.product_name {
    width: calc(50% - 100px);
}
.product_price {
    width: 10%;
    overflow: auto;
}
.product_date {
    width: 10%;
}
.product_active {
    width: 10%;
}

.search_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e8eef2;
    position: sticky;
    top: -30px;
    margin-bottom: 30px;
}

.products_search {
    width: 400px;
    position: relative;
}

.products_search input {
    padding: 12px 20px 12px 50px;
    width: calc(100% - 70px);
    font-family: Kalameh;
    outline: 0;
    border: 1px solid #e8eef2;
    background-color: #e8eef2;
    border-radius: 8px;
}
.products_search input:focus {
    border-color: #ccc;
}

.products_search span {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #777;
    font-size: 14px;
    cursor: pointer;
}
.products_search span:hover {
    color: #12a386;
}

.search_buttons {
    display: flex;
}
.inventory_button:nth-child(2) {
    margin-right: 30px;
}

.inventory_button {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #777;
    transition: 0.2s;
}
.inventory_button.show {
    color: #12a386;
}

.inventory_button div {
    width: 37px;
    height: 18px;
    background-color: #e8eef2;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.inventory_button.show div {
    background-color: #12a386;
}

.inventory_button div span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: #12a386;
    transition: 0.4s;
}
.inventory_button.show div span {
    background-color: #fff;
    left: 22px;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    direction: ltr;
    margin-top: 50px;
    font-size: 16px;
}

.perv_btn,
.next_btn {
    background-color: #12a386;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #12a386;
    font-size: 14px;
}
.perv_btn:hover,
.next_btn:hover {
    background-color: #fff;
    color: #12a386;
}

.perv_btn {
    margin-right: 10px;
}
.perv_btn span {
    font-size: 12px;
    margin: 5px 10px 0 0;
}

.next_btn {
    margin-left: 10px;
}
.next_btn span {
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.page_btn {
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 3px;
    border: 1px solid #e8eef2;
}
.page_btn.show {
    border-color: #12a386;
    color: #fff;
    background-color: #12a386;
}
.page_btn:hover {
    border-color: #12a386;
    color: #12a386;
}
.page_btn.show:hover {
    color: #fff;
}

.add_btn {
    background-color: #12a386;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #12a386;
    transition: 0.2s;
    text-decoration: none;
}
.add_btn:hover {
    background-color: #fff;
    color: #12a386;
}
.add_btn span {
    margin: 5px 0 0 5px;
}

.no_product {
    font-size: 16px;
    padding: 50px 0;
}

@media (max-width: 1300px) {
    .search_box {
        top: 0;
    }

    .pagination {
        margin-bottom: 50px;
    }
}
