.tickets {
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}

.tickets_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
}

.tickets_title {
    font-family: KalamehM;
    width: calc(85% / 2);
}
.tickets_title:nth-child(1) {
    width: 10%;
}
.hidden_title {
    width: 5%;
}

.ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
}
.ticket:hover {
    background-color: #0d7c6611;
}
.ticket_id {
    width: 10%;
}
.ticket_name {
    width: calc(85% / 2);
}
.ticket_phone {
    width: calc(85% / 2);
}

.ticket_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
}

.ticket_buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket_seen {
    color: #12a386;
    margin-bottom: 10px;
}

.ticket_reply {
    color: #00A9FF;
}

@media (max-width: 1300px) {
    .top_box {
        top: 0;
    }
}