.users {
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}

.users_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
}

.users_title {
    font-family: KalamehM;
    width: calc(100% / 5);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8eef2;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.user:hover {
    background-color: #0d7c6611;
}
.user_id {
    width: calc(100% / 5);
}
.user_name {
    width: calc(100% / 5);
}
.user_phone {
    width: calc(100% / 5);
}
.user_status {
    width: calc(100% / 5);
}
.user_phone_status {
    width: calc(100% / 5);
}

@media (max-width: 1300px) {
    .top_box {
        top: 0;
    }
}
