.loading {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
}
.loading.show {
    display: flex;
}

.loading_wrapper {
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.container {
    padding: 20px;
    padding-bottom: 150px;
}

.users {
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}

.users_top {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    padding: 20px;
}

.users_title {
    font-family: KalamehM;
    width: calc(100% / 5);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f3f4f6;
    padding: 20px;
    width: calc(100% - 40px);
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.user:hover {
    background-color: #0d7c6611;
}
.user_id {
    width: calc(100% / 5);
}
.user_name {
    width: calc(100% / 5);
}
.user_phone {
    width: calc(100% / 5);
    direction: ltr;
    letter-spacing: .5px;
}
.user_status {
    width: calc(100% / 5);
}
.user_phone_status {
    width: calc(100% / 5);
}

.search_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #f3f4f6;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
}

.users_search {
    width: 400px;
    position: relative;
}

.users_search input {
    padding: 12px 20px 12px 50px;
    width: calc(100% - 70px);
    font-family: Kalameh;
    outline: 0;
    border: 1px solid #f3f4f6;
    background-color: #f3f4f6;
    border-radius: 8px;
}
.users_search input:focus {
    border-color: #ccc;
}

.users_search button {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #777;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
    padding: 0;
    border: none;
}
.users_search button:hover {
    color: #12a386;
}

.search_buttons {
    display: flex;
}
.inventory_button:nth-child(2) {
    margin: 0 30px;
}

.inventory_button {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #777;
    transition: 0.2s;
}
.inventory_button.show {
    color: #12a386;
}

.inventory_button div {
    width: 37px;
    height: 18px;
    background-color: #f3f4f6;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.inventory_button.show div {
    background-color: #12a386;
}

.inventory_button div span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: #12a386;
    transition: 0.4s;
}
.inventory_button.show div span {
    background-color: #fff;
    left: 22px;
}

.pagination {
    display: flex;
    width: 100%;
    direction: ltr;
    margin-top: 50px;
    font-size: 16px;
}

.perv_btn,
.next_btn {
    background-color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #000;
    font-size: 14px;
}
.perv_btn:hover,
.next_btn:hover {
    background-color: #fff;
    color: #000;
}

.perv_btn {
    margin-right: 10px;
}
.perv_btn span {
    font-size: 12px;
    margin: 5px 10px 0 0;
}

.next_btn {
    margin-left: 10px;
}
.next_btn span {
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.page_btn {
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 3px;
    border: 1px solid #f3f4f6;
}
.page_btn.show {
    border-color: #000;
    color: #fff;
    background-color: #000;
}
.page_btn:hover {
    border-color: #000;
}
.page_btn.show:hover {
    color: #fff;
}

.no_user {
    font-size: 16px;
    padding: 50px 0;
}


@media (max-width: 1300px) {
    .top_box {
        top: 0;
    }
}
