.container {
    width: calc(100% - 100px);
    height: fit-content;
    margin: 100px 0;
    background-color: #e8eef2;
    padding: 50px;
}

.articles {
    width: 100% !important;
    height: fit-content;
}

.article {
    width: calc(100% / 3 - 40px) !important;
    margin: 0 20px;
    cursor: pointer;
    user-select: none;
}

.article_content {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    width: calc(100% - 60px);
    height: 100%;
    text-decoration: none;
    color: #000;
    padding: 30px;
}

.article_cover {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.article_information {
    margin-right: 20px;
    font-size: 14px;
}

.article_title {
    font-family: KalamehM;
}

.article_decription {
    font-size: 12px;
    margin: 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.article_date {
    font-size: 12px;
    color: #777;
}
.article_date span {
    margin-left: 5px;
}

.main_title {
    margin-bottom: 50px;
    width: calc(100% - 40px);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-family: KalamehB;
}

.show_all_btn {
    font-size: 14px;
    font-family: Kalameh;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #0D7C66;
    background-color: #0D7C66;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    height: fit-content;
}
.show_all_btn:hover {
    background-color: #fff;
    color: #0D7C66;
}

.show_all_btn span {
    margin: 4px 10px 0 0;
}

@media (max-width: 1200px) {
    .article {
        width: calc(100% / 3 - 20px) !important;
        margin: 0 10px;
    }

    .article_content {
        width: calc(100% - 40px);
        padding: 20px;
        flex-direction: column;
    }

    .article_cover {
        width: 100%;
        height: 150px;
    }

    .article_information {
        margin: 20px 0 0 0;
    }

    .article_decription {
        -webkit-line-clamp: 3;
    }
}

@media (max-width: 950px) {
    .article {
        width: calc(100% / 2 - 20px) !important;
    }
}

@media (max-width: 580px) {
    .show_all_btn {
        font-size: 12px;
        padding: 5px 10px;
        margin-top: 20px;
    }

    .container {
        width: calc(100% - 40px);
        padding: 50px 20px;
    }

    .article {
        width: calc(100% - 20px) !important;
    }

    .main_title {
        font-size: 30px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
}
