.loading {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
}
.loading.show {
  display: flex;
}

.loading_wrapper {
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
}

.auth_form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0px 1.5px 60px rgba(0, 0, 0, 0.05);
}

.auth_form .timer {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 14px;
  color: #f93827;
}

.logo {
  color: #12a386;
  font-family: KalamehB;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
}

.top_titles {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #e8eef2;
  padding-bottom: 30px;
}

.main_title {
  font-size: 16px;
  font-family: KalamehM;
  margin: 0 5px;
  padding: 8px 24px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.main_title.show {
  color: #fff;
  background-color: #12a386;
}

.main_title span {
  font-size: 14px;
  margin: 5px 0 0 10px;
}

.input_box {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 100%;
}

.input_title {
  font-size: 12px;
  margin-bottom: 5px;
  color: #95a0b1;
}

.input_title span {
  margin: 0 5px;
  letter-spacing: 1px;
  color: #12a386;
}

.input_box input {
  background-color: #f3f4f6;
  outline: 0;
  border: 1px solid #e8eef2;
  font-family: Kalameh;
  padding: 12px;
  border-radius: 8px;
  width: calc(100% - 24px);
  letter-spacing: 1px;
}
.input_box input:focus {
  border-color: #12a386;
}
.input_box input.error {
  border-color: #f93827;
}

.submit_btn,
.submit_btn_2 {
  background-color: #12a386;
  outline: 0;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
  padding: 12px 0;
  font-size: 16px;
  width: 100%;
  text-align: center;
  font-family: KalamehM;
  border-radius: 8px;
  margin-top: 24px;
}
.submit_btn:hover,
.submit_btn_2:hover {
  background-color: #000;
}

.submit_btn_2 {
  font-size: 14px;
  display: flex;
  justify-content: center;
  transition: .2s;
  border: none;
}
.submit_btn_2:hover {
  background-color: #000;
}
.submit_btn_2 div {
  margin: 2px 10px 0 0;
}

.back_btn,
.back_btn_2 {
  background-color: #f3f4f6;
  width: fit-content;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.back_btn span,
.back_btn_2 span {
  margin-left: 5px;
  font-size: 10px;
}

.back_btn_2 {
  margin-bottom: 30px;
  text-decoration: none;
  color: #000;
}

.title {
  margin-top: 20px;
  font-size: 20px;
  font-family: KalamehM;
}

.code_input_box .input_title {
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

.code_input_box input {
  text-align: center;
  letter-spacing: 10px;
}

.again_code_time {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 20px;
}

.again_code_time span {
  margin-left: 10px;
  letter-spacing: 1px;
  display: flex;
}

.again_code_time span div {
  margin: 0 2px;
}

.get_code_again {
  margin: 20px auto 0 auto;
  font-size: 12px;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.get_code_again span {
  margin: 4px 0 0 5px;
  color: #12a386;
}

.error_box {
  color: #f93827;
  margin-top: 10px;
  font-size: 12px;
  display: none;
}
.error_box.show {
  display: block;
}

.main_title_2 {
  font-size: 22px;
  color: #12a386;
  font-family: KalamehM;
  margin-bottom: 15px;
}

@media (max-width: 580px) {
  .auth_form {
    width: calc(100% - 60px);
    padding: 30px;
    border-radius: 0;
    box-shadow: none;
  }

  .container {
    background-color: #fff;
  }

  .back_btn_2 {
    margin: 0;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .logo {
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  .submit_btn {
    font-size: 14px;
  }

  .main_title {
    font-size: 14px;
  }

  .main_title span {
    font-size: 12px;
  }
}
