.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: calc(100% - 100px);
    padding: 0 50px;
}

.top_section {
    width: 80%;
    display: flex;
}

.top_section .right_section {
    width: 40%;
    background-color: #fff;
    padding: 50px 0;
    border-bottom: 1px solid #e8eef2;
}

.product_image {
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

.top_section .center_section {
    background-color: #fff;
    padding: 50px;
    width: calc(60% - 100px);
    border-bottom: 1px solid #e8eef2;
}

.product_category {
    font-size: 14px;
    color: #12a386;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-family: KalamehM;
}
.product_category span {
    margin-left: 10px;
}

.product_name {
    font-family: KalamehM;
    font-size: 30px;
    border-bottom: 1px solid #e8eef2;
    width: 100%;
    padding-bottom: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.features_title {
    width: 100%;
    font-family: KalamehM;
    margin-bottom: 5px;
}

.feature_box {
    display: flex;
    flex-direction: column;
    background-color: #e8eef2;
    padding: 10px 20px;
    border-radius: 8px;
    width: calc(32% - 40px);
    margin-top: 15px;
    font-size: 14px;
}

.feature_title {
    color: #777;
}

.feature_about {
    margin-top: 5px;
}

.about {
    margin: 50px 0;
}

.about_product {
    margin-top: 10px;
    line-height: 30px;
}

.left_section {
    width: calc(20% - 101px);
    padding: 50px;
    background-color: #fff;
    border-right: 1px solid #e8eef2;
    border-bottom: 1px solid #e8eef2;
    height: fit-content;
    position: sticky;
    top: 86px;
}

.rate_range {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.rate_range div {
    font-size: 26px;
    font-family: KalamehM;
    margin-left: 10px;
}

.rate_range span {
    margin-right: 5px;
}

.rated_stars {
    display: flex;
    font-size: 14px;
    color: #ffb200;
    margin: 10px 0;
}

.rated_stars span {
    margin: 0 1px;
}

.total_rate {
    color: #999;
    font-size: 12px;
    margin-right: 10px !important;
}

.product_score {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e8eef2;
    padding-bottom: 20px;
}

.pricing {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.product_price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 26px;
    font-family: KalamehM;
    margin-bottom: 20px;
}

.toman {
    font-size: 12px;
    margin-right: 8px;
}

.product_price {
    display: flex;
}

.pricing_options {
    display: flex;
    flex-direction: column;
}

.add_to_basket_btn {
    width: 100%;
    background-color: #12a386;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.add_to_basket_btn span {
    margin: 0 0 0 10px;
}

.product_views {
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #e8eef2;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}

.product_views span {
    margin: 4px 0 0 10px;
}

.bottom_section {
    width: 80%;
    display: flex;
}

.bottom_section .right_section {
    width: calc(30% - 101px);
    background-color: #fff;
    padding: 50px;
    border-bottom: 1px solid #e8eef2;
    border-left: 1px solid #e8eef2;
    position: sticky;
    top: 86px;
    height: fit-content;
}

.comment_add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit_comment {
    background-color: #e8eef2;
    width: fit-content;
    padding: 30px;
    border-radius: 8px;
    font-size: 14px;
    width: calc(100% - 60px);
    color: #000;
}

.submit_comment .title {
    margin-bottom: 20px;
}

.submit_comment .submit {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #12a386;
    background-color: #12a386;
}
.submit_comment .submit:hover {
    color: #12a386;
    background-color: #fff;
}

.bottom_left_section {
    background-color: #fff;
    width: calc(70% - 100px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e8eef2;
}

.bottom_left_section .title {
    font-family: KalamehM;
    border-bottom: 2px solid #12a386;
    padding: 0 0 10px 50px;
    margin-bottom: 10px;
    width: fit-content;
}

.comments {
    width: 100%;
}

.comment_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1500px) {
    .top_section .right_section {
        padding: 30px 0;
    }

    .top_section .center_section {
        padding: 30px;
        width: calc(60% - 60px);
    }

    .product_category {
        font-size: 12px;
    }
    .product_category span {
        margin-left: 5px;
    }

    .product_name {
        font-size: 20px;
    }

    .feature_box {
        font-size: 12px;
    }

    .about {
        margin: 40px 0;
    }

    .about_product {
        font-size: 14px;
    }

    .left_section {
        width: calc(20% - 61px);
        padding: 30px;
    }

    .rate_range div {
        font-size: 20px;
        margin-left: 8px;
    }

    .rated_stars {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin: 0;
    }

    .total_rate {
        font-size: 10px;
        margin-right: 0 !important;
        margin: 0 0 8px 0 !important;
    }

    .pricing {
        margin-top: 20px;
    }

    .product_price {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .toman {
        font-size: 10px;
    }

    .add_to_basket_btn {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .add_to_basket_btn span {
        margin: 0 0 0 5px;
    }

    .product_views {
        font-size: 12px;
    }

    .product_views span {
        margin: 4px 0 0 5px;
    }

    .bottom_section .right_section {
        width: calc(30% - 61px);
        padding: 30px;
    }

    .submit_comment {
        text-align: center;
        font-size: 12px;
    }

    .submit_comment .title {
        margin-bottom: 15px;
    }

    .bottom_left_section {
        background-color: #fff;
        width: calc(70% - 60px);
        padding: 30px;
    }

    .bottom_left_section .title {
        padding: 0 0 10px 30px;
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .top_section {
        width: 100%;
    }

    .left_section {
        width: calc(100% - 60px);
        border: none;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product_score {
        border: none;
        padding: 0;
        margin: 0;
        height: fit-content;
    }

    .pricing_options {
        flex-direction: row-reverse;
    }

    .add_to_basket_btn {
        width: fit-content;
        padding: 10px 20px;
        margin: 0 10px 0 0;
    }

    .product_views {
        width: fit-content;
        padding: 10px 20px;
    }

    .bottom_section {
        width: 100%;
        flex-direction: column;
    }

    .bottom_section .right_section {
        width: calc(100% - 60px);
        padding: 30px;
        border: none;
        border-top: 1px solid #e8eef2;
        border-bottom: 1px solid #e8eef2;
        position: relative;
        top: 0;
    }

    .submit_comment {
        font-size: 14px;
    }

    .submit_comment .submit {
        width: fit-content;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: 12px;
    }

    .bottom_left_section {
        width: calc(100% - 60px);
    }

    .top_section .right_section {
        width: 30%;
    }

    .top_section .center_section {
        width: calc(70% - 60px);
    }
}

@media (max-width: 950px) {
    .container {
        margin-top: 80px;
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 580px) {
    .left_section {
        flex-direction: column-reverse;
    }

    .product_category {
        font-size: 10px;
    }

    .product_name {
        font-size: 14px;
    }

    .about {
        font-size: 14px;
    }

    .about_product {
        font-size: 12px;
        line-height: 26px;
    }

    .product_score {
        border-top: 1px solid #e8eef2;
        margin-top: 30px;
        padding-top: 30px;
        width: 100%;
    }

    .pricing {
        margin: 0;
    }

    .submit_comment .submit {
        padding: 8px 20px;
    }

    .features_title {
        font-size: 14px;
    }

    .feature_about {
        margin: 0;
    }

    .feature_box {
        font-size: 10px;
        padding: 8px;
        width: calc(32% - 16px);
        margin-top: 6px;
    }

    .top_section {
        flex-direction: column;
    }

    .top_section .right_section {
        width: 100%;
        border: none;
        position: fixed;
        z-index: 1;
        padding-bottom: 100px;
    }

    .top_section .center_section {
        width: calc(100% - 60px);
        border-radius: 20px 20px 0 0;
        z-index: 2;
        margin-top: 280px;
        border-top: 1px solid #e8eef2;
    }

    .left_section,
    .bottom_section {
        z-index: 2;
    }

    .product_image {
        height: 200px;
    }

    .bottom_section .right_section {
        width: calc(100% - 40px);
        padding: 30px 20px;
    }

    .top_section .center_section {
        width: calc(100% - 40px);
        padding: 30px 20px;
    }

    .bottom_left_section {
        width: calc(100% - 40px);
        padding: 30px 20px;
    }

    .left_section {
        width: calc(100% - 40px);
        padding: 30px 20px;
    }

    .bottom_left_section .title {
        font-size: 14px;
        border-width: 1px;
    }
}
