.container {
    width: 100%;
}

.main_title {
    font-size: 26px;
    font-family: KalamehM;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.back_btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    background-color: #12a386;
    padding: 5px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #12a386;
    transition: 0.2s;
    cursor: pointer;
}
.back_btn:hover {
    background: none;
    color: #12a386;
}
.back_btn span {
    margin: 5px 0 0 5px;
}

.code {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 50px auto 0 auto;
    font-size: 14px;
}

.first_section {
    width: 850px;
    display: flex;
    justify-content: space-between;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105px;
    width: calc(100% - 320px);
    background-color: #fff;
    border-radius: 8px;
}

.first_section input {
    font-family: Kalameh;
    outline: 0;
    border: 1px solid #e8eef2;
    background-color: #e8eef2;
    width: calc(100% - 80px);
    padding: 10px 20px;
    border-radius: 8px;
    letter-spacing: 0.5px;
}
.first_section input:focus {
    border-color: #12a386;
}

.feature_box {
    background-color: #fff;
    width: 100px;
    padding: 20px;
    border-radius: 8px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.feature_box .title {
    font-size: 12px;
    color: #777;
}

.third_section {
    display: flex;
    flex-direction: column;
    width: 810px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.third_section .title {
    font-size: 12px;
    color: #777;
}

.select_category {
    display: flex;
    margin-top: 10px;
}

.select_category input,
.feature_box input {
    font-family: Kalameh;
    outline: 0;
    border: 1px solid #e8eef2;
    background-color: #e8eef2;
    width: calc(100% - 65px);
    padding: 10px 20px;
    border-radius: 8px;
}
.select_category input:focus,
.feature_box input:focus {
    border-color: #12a386;
}

.feature_box input {
    width: calc(100% - 40px);
    padding: 6px 10px;
    text-align: center;
    letter-spacing: 1px;
}

.submit_btn {
    height: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #12a386;
    color: #fff;
    margin-right: 10px;
    border: 1px solid #12a386;
    cursor: pointer;
    transition: 0.2s;
}
.submit_btn:hover {
    background: none;
    color: #12a386;
}

.third_section .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.category {
    margin-top: 10px;
    background-color: #e8eef2;
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    border: 1px solid #e8eef2;
    font-size: 12px;
}
.category:hover {
    border-color: #12a386;
}

.category span {
    margin: 3px 0 0 5px;
    cursor: pointer;
}

.inventory_button {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #777;
}

.inventory_button div {
    width: 37px;
    height: 18px;
    background-color: #e8eef2;
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.inventory_button div span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: #12a386;
}

.products {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.product {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #e8eef2;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    user-select: none;
    border: 1px solid #e8eef2;
    font-size: 12px;
}
.product:hover {
    border-color: #12a386;
}

.product span {
    cursor: pointer;
    margin: 3px 0 0 5px;
}

.edit_btn {
    background-color: #12a386;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #12a386;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;
}
.edit_btn:hover {
    background: none;
    color: #12a386;
}
