.loading {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
}
.loading.show {
    display: flex;
}

.loading_wrapper {
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.container {
    width: 100%;
}

.main_title {
    font-size: 26px;
    font-family: KalamehM;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.back_btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    background-color: #12a386;
    padding: 5px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #12a386;
    transition: 0.2s;
    cursor: pointer;
}
.back_btn:hover {
    background: none;
    color: #12a386;
}
.back_btn span {
    margin: 5px 0 0 5px;
}

.ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 50px auto 0 auto;
    font-size: 14px;
}

.first_section {
    display: flex;
}

.main_information {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 223.08px;
    margin-left: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.phone {
    letter-spacing: .5px;
    direction: ltr;
}

.date {
    padding: 20px;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
}
.date .title {
    font-size: 12px;
    color: #777;
}

.comment_btn {
    height: 50px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-right: 20px;
    transition: 0.2s;
}
.comment_btn.show {
    background-color: #12a386;
}

.comment_btn div {
    background-color: #12a386;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 8px;
    border: 1px solid #12a386;
    cursor: pointer;
    transition: 0.2s;
}
.comment_btn div:hover {
    background: none;
    color: #12a386;
}

.comment_btn div span {
    margin: 3px 0 0 5px;
}

.comment_btn.show div:hover {
    color: #fff;
}

.second_section {
    padding: 20px;
    width: 560px;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.second_section .title {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

.section_title {
    color: #999;
    padding: 15px 0;
    width: 600px;
    text-align: center;
    margin-top: 20px;
    font-family: KalamehM;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #999;
}

.reply_input {
    font-family: Kalameh;
    outline: 0;
    border: 1px solid #fff;
    background-color: #fff;
    width: calc(100% - 40px);
    padding: 10px 20px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    margin: 20px 0 0 0;
    resize: none;
    height: 100px;
}
.reply_input:focus {
    border-color: #12a386;
}

.submit_btn {
    background-color: #12a386;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #12a386;
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;
    margin-top: 10px;
}
.submit_btn:hover {
    background: none;
    color: #12a386;
}
